@import '../colors.scss';

.c-input {
  border: none;
  outline: none;
  text-overflow: ellipsis;
  background-color: transparent;
  color: $g-color-text-primary;
  padding: 11px 55px 11px 15px;
  font-size: 3.5vmin;
  flex: 1;
  transition: box-shadow .5s, background .25s .25s;
  // transition: box-shadow .25s .25s, background .5s;

  &::selection {
    background-color: $g-color-selection;
    color: white;
  }

  &::placeholder {
    text-align: center;
    padding-left: 40px;
    opacity: .75;
  }

  &[disabled] {
    color: $g-color-text-disabled;
  }

  &--animated-placeholder {
    &::placeholder {
      transition: opacity 1s;
    }

    &:focus, &[placeholder]:not(:placeholder-shown) {
      &::placeholder {
        opacity: .45;
      }
    }
  }

  &--animated-shadow {

    &:focus, &[placeholder]:not(:placeholder-shown) {
      box-shadow: 0 25px 35px -15px $g-color-shadow;
      transition: box-shadow .25s .25s, background .5s;
    }
  }

  &--animated-border-1 {
    background: linear-gradient($g-color-primary, $g-color-primary);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 0 2px;

    &:focus, &[placeholder]:not(:placeholder-shown) {
      background-size: 100% 2px;
    }
  }

  &--animated-border-2 {
    background: linear-gradient($g-color-primary, $g-color-primary),
                linear-gradient($g-color-primary, $g-color-primary),
                linear-gradient($g-color-primary, $g-color-primary);
    background-position: bottom left,
                         bottom center,
                         bottom right;
    background-repeat: no-repeat;
    animation: a-input-animated-border-2-out .4s forwards;

    &:focus, &[placeholder]:not(:placeholder-shown) {
      animation: a-input-animated-border-2-in .6s forwards;
    }
  }

  &__clear {
    @extend %c-input__control;

    &::after {
      content: '×';
    }

    &:hover {
      color: $g-color-secondary;
    }

    .c-input:not(:placeholder-shown) + & {
      visibility: visible;
      animation: a-fade-in .6s;
    }
  }

  &__remove {
    @extend %c-input__control;
    right: 26px;

    &:hover {
      visibility: visible;
      color: $g-color-secondary;
    }

    .c-input:hover + & {
      visibility: visible;
    }

    &::after {
      content: '×';
    }
  }

  &__toggle {
    @extend %c-input__control;
    right: 26px;

    &:hover {
      visibility: visible;
      color: $g-color-secondary;
    }

    .c-input:hover + & {
      visibility: visible;
    }

    &::after {
      content: '☑';
    }
  }
}

%c-input__control {
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  visibility: hidden;
  position: absolute;
  right: 15px;
  font-size: 26px;
  width: 50px;
  height: 100%;
  text-align: right;
}

@keyframes a-input-animated-border-1-in {
  from {
    background-size: 0 2px;
  }
  to {
    background-size: 100% 2px;
  }
}

@keyframes a-input-animated-border-2-in {
  from {
    background-size: 2px 0, 80% 2px, 2px 0;
  }
  50% {
    background-size: 2px 0%, 100% 2px, 2px 0%;
  }
  to {
    background-size: 2px 35%, 100% 2px, 2px 35%;
  }
}

@keyframes a-input-animated-border-2-out {
  from {
    background-size: 2px 35%, 100% 2px, 2px 35%;
  }
  50% {
    background-size: 2px 0%, 100% 2px, 2px 0%;
  }
  to {
    background-size: 2px 0, 80% 2px, 2px 0;
  }
}
