$g-color-text-primary: #3abe13;
$g-color-text-disabled: rgba(58, 190, 19, 0.35);
$g-color-primary: #7109AA;
$g-color-secondary: #CD0074;
$g-color-shadow: rgba(0, 0, 0, 0.15);
$g-color-selection: rgba(#8d879d, 0.5);