*, ::before, ::after {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

.l-page {
  display: flex;
  min-height: 100vh;
}

.l-h-center {
  margin-left: auto;
  margin-right: auto;
}

.l-content {
  margin-top: calc(20vw - 60px);
}

@keyframes a-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
